<div ng-controller="PostsController">
	<label>Nuevos Post</label>
  <hr>
  <input type="text" ng-model="nuevoPost.titulo" placeholder="Titulo...">
  <input type="text" ng-model="nuevoPost.autor" placeholder="Autor...">
  <button ng-click="agregarPost()">Nuevo</button>
  <ul>
    <li ng-repeat="post in posts">
        <span><label>{{post.titulo}}</label>  creado por :  <label>{{post.autor}}</label><button ng-click="borrarPost(post)">Borrar</button></span>
    </li>
  </ul>
  <hr>
  <button back-button>Atras</button>
</div>